<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <title>{{ title if title else site.title }}</title>

        <meta name="description" content="{{ description if description else site.description}}"/>
        <meta name="keywords" content="{{ tags if tags else site.tags }}"/>

        <link rel="icon" href="static/images/favicon.ico" type="image/png">
        <link rel="stylesheet" href="/css/kittychat.css" />
        {%block styles %}{% endblock %}
    </head>
    <body>
        <header>
            {% include "components/navbar.njk" %}
        </header>
        <div class="layout-seprator"></div>
        <div>
            {% block main %} {% endblock %}
        </div>
    </body>
</html>

{% block script %}
{% endblock %}