html {
  background-color: black;
  color: white;
  overflow-x: hidden;
  cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat927.ani), url(https://cur.cursors-4u.net/nature/nat-10/nat927.png), auto !important;
}
  